/* styles the about me section on home page  */
section {
    background-image: url('../utils/repImg/deep_sea.jpg');
    color: white;
   max-width: 60%;
   margin-left: 25%;
  border-radius: 10px;
 padding-top: 30px;
 background-position: center;
  }

  /* positions and sizes image on home page */
  .imgPro {
    height: 65%;
    width: 40%;
   margin: 10px 50px;
     z-index: 1;
    box-shadow:  25px 50px rgba(0, 0, 0, 0.3);
  }

  section:hover {
    background-image: url('../utils/repImg/motorcycle_painted_look.jpg');
    transition: all, 3s, ease-in;
    background-repeat: no-repeat;
    width: 900px;
    color: white;
    font-family: "Metal Mania", cursive;
    font-weight: 90px;
  }