/* color and font on header */
.header {
  color: #a23cac;
  font-family: "Metal Mania", cursive;
 -webkit-text-stroke: 1px black;
 margin-bottom: 0;
 align-self: start;
 
}
/* background image for header  */
.nightSkyImg {
  background-image: url("../utils/repImg/nightSky\ \(1\).jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
/* effects on header on hover */
.nightSkyImg:hover {
  background-image: url("../utils/repImg/campNight\ \(1\).jpg");
  height: auto;
  width: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  transition: linear;
  transition-delay: 1s;
  transition-duration: 2s;
}
/* styles the headers links to my social media */
.nav-link {
  -webkit-text-stroke: 1px white;
  font-weight: 90px;
  font-size: 35px;
  text-align: center;
  color: purple;
}
/* styles my header h2 "web developer" title */
h2 {
  text-align: end;
}


