/* color and font on header */
.header {
  color: #a23cac;
  font-family: "Metal Mania", cursive;
}
/* background image for header  */
.musicImg {
  background-image: url("../utils/repImg/abstract_musical_img.jpg");
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* portfolio heading for portfolio page */
h2 {
  display: flex;
  justify-content: center;
}

/* params for footer */
.footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  width: 100%;
  color: white;
}
/* seattle Image for footer */
.seattleImg {
  background-image: url("../utils/repImg/seattle_img.jpg");
  height: auto;
  padding-bottom: 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
/* text in footer */
.footerContent {
  background: rgba(0, 0, 255, 0.5);
  font-family: "Metal Mania", cursive;
  text-align: center;
  font-size: large;
  font-weight: 90;
}
