.header {
  color: #a23cac;
  font-family: "Metal Mania", cursive;
}

.seattleImg {
  background-image: url('../utils/repImg/abstract_musical_img.jpg');
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.contactForm {
  border: 2px solid;
  border-radius: 12px;
  background-color: #17b3e2;
  color: black;
}

h2 {
  display: flex;
  justify-content: center;
}

section {
  background-color: purple ;
  color: white
}

.footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  width: 100%;
  background-image: url('../utils/repImg/seattle_img.jpg');
  color: #eef3f5;
  text-align: center;
  height: auto;
  padding-bottom: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: x-large;
  font-weight: bold;
}
